@tailwind base;

@layer base {
  :root {
    --doc-height: 100%;
  }

  html,
  body {
    height: 100vh;
    height: var(--doc-height);
    @apply m-0 p-0;
  }

  input {
    -webkit-appearance: none;
  }

  .h-real {
    height: var(--doc-height);
  }

  #app {
    @apply h-full;
  }

  @layer base {
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      background-color: var(--n-color);
    }
  }
}

@tailwind components;
@tailwind utilities;
